<div class="container col-12 col-lg-8">
  <h1>My Listings</h1>
  <% if @properties.empty? %>
    <p> You have no properties at the moment. Get up and running quickly using the "Add Listing" button below. </p>
  <% end %>
  <div class="">
  <div class="" style="">
    <a href="<%= new_property_path %>" class= "">
     <strong> + New property <strong>
    </a>
  </div>
</div>
</div>
