<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dcu7y5wnn/image/upload/v1688213710/ARI010_2018-Iru-Fushi-destination-dining-900-450_k9awni.jpg);">
  <div class="container">
    <h1>Make memories with <strong> Monurental </strong> stays!</h1>
    <p>Explore the world in the best way imaginable.</p>
    <div>
      <%=  link_to "Explore", properties_path(), class:"btn btn-flat"%>
    </div>
  </div>
</div>
<div class="container">
  <p> Here at Monurental we specialise in the truely spectacular stays which make memories. </p>
  <p> Choose something for every occassion or mood. </p>
  <p> Vacations should be more than a rental, it should be <s>monumental</s> monurental</p>
</div>
